# Python
.venv/
__pycache__/
*.pyc
causas/migrations/__pycache__/
projetoKausa/__pycache__/

# Django
db.sqlite3
media/

# React / Node
node_modules/
dist/

# Environment files
.env

# MacOS
.DS_Store
# IDEs
.idea/
.vscode/
